<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul li{
            list-style-type: none;
            line-height: 30px;
        }

        ul li a{
            text-decoration: none;
            color: orange;
            font-size: 18px;
        }
        ul li a:hover{
            color: red;
            font-size: 22px;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="attendance-form">Attendance</a></li>
        <li><a href="classes-form">Classes</a></li>
        <li><a href="courses-form">Course</a></li>
        <li><a href="enquiry-form">Enquiry</a></li>
        <li><a href="guardians-form">Gurdians</a></li>
        <li><a href="staff-form">Staff</a></li>
        <li><a href="students-form">Students</a></li>
        <li><a href="teachers-form">Teachers</a></li>
    </ul>
</body>
</html>