<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
    <tr>
        <th>Form ID</th>
        <th>Student Name</th>
        <th>Father Name</th>
        <th>Mother Name</th>
        <th>DOB</th>
        <th>Address</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Course</th>
        <th>Date</th>
    </tr>
    {% for data in datas %}
    <tr>
        <td>{{data[0]}}</td>
        <td>{{data[1]}}</td>
        <td>{{data[2]}}</td>
        <td>{{data[3]}}</td>
        <td>{{data[4]}}</td>
        <td>{{data[5]}}</td>
        <td>{{data[6]}}</td>
        <td>{{data[7]}}</td>
        <td>{{data[8]}}</td>
        <td>{{data[9]}}</td>
    </tr>
    {% endfor %}

    </table>
</body>
</html>